{% raw %}
	<form name="addTeacherForm" novalidate role="form">
      <div class="form-group">
        <label for="first_name">First Name </label>
        <span class="label label-danger" data-ng-show="submitted && addTeacherForm.first_name.$error.required">Required!</span>
        <input type="text" name="first_name" data-ng-model="first_name" class="form-control" required />
      </div>

      <div class="form-group">
        <label for="last_name">Last Name </label>
        <span class="label label-danger" data-ng-show="submitted && addTeacherForm.last_name.$error.required">Required!</span>
        <input type="text" name="last_name" data-ng-model="last_name" class="form-control" required />
      </div>

			<!--
      <div class="form-group">
        <label for="courseList">Courses</label>
        <span class="label label-danger" data-ng-show="submitted && addTeacherForm.courseList.$error.required">Required!</span>
        <select name="courseList" data-ng-model="courseList" data-ng-options="id as value for (id, value) in courseListOptions" class="form-control" required>
          <option value=""></option>
        </select>
      </div>
		-->

      <button data-ng-disabled="progress.active()" data-ng-click="submitTeacher(first_name, last_name)" class="btn btn-default">Submit</button>
    </form>
{% endraw%}
